
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 1rem;
}
.dataTables_filter {
    margin-bottom: 1rem;
}

.dataTables_filter label {
    font-weight: 700;
    text-transform: uppercase;
}



table#researchTable thead th,
table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable.display tbody td {
    padding: 1rem;
    border-top: none;
}

table.dataTable thead th, table.dataTable thead td {
	padding: 8px !important;
	border-bottom: none !important;
}

/* Datatable lentg design */
.dataTables_length select{
    border-radius: 50px !important;
	border-color: #222d5d !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    width: 70px;
}
/* Datatable search design */
.dataTables_filter input{
    border-radius: 50px !important;
	border-color: #222d5d !important;
    font-weight: 400;
    padding-left: 10px !important;
}

/* Datatable button design */
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border-radius: 50px !important;
	border: none !important;
	color: #222d5d !important;
    text-transform: uppercase;

}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	border-radius: 50px !important;
	border: none !important;
	color: white !important;
	background-color: #ed6326 !important;

}


.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {
	border-radius: 50px !important;
	border: none !important;
	font-weight: 700 !important;
	background-color: #ed6326 !important;

}

/* disabled */
.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {
	border-radius: 50px !important;
	border: none !important;
	font-weight: 700 !important;
	background-color: white !important;
	color: #222d5d !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled:hover {
	background-color: #f1f1f1 !important;
}

/* current */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: white !important;
	background-color: #ed6326 !important;
}



/* Export file buttons */
.dt-buttons{
    display: flex;
    gap: 10px;
}

.dt-button-collection div {
    margin-top: 35px;
}
.dt-button-collection div button{
    background: #ed6326;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.dt-button-down-arrow{
    transform: rotate(270deg) !important;
}

.dt-buttons button
{
    background: #ed6326;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
/* .dt-buttons button.buttons-copy,
.dt-buttons button.buttons-csv,
.dt-buttons button.buttons-excel,
.dt-buttons button.buttons-pdf,
.dt-buttons button.buttons-print
{
    background: #ed6326;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    transition: all 150ms ease-in-out;
} */
.dt-buttons button.buttons-copy:hover,
.dt-buttons button.buttons-csv:hover,
.dt-buttons button.buttons-excel:hover,
.dt-buttons button.buttons-pdf:hover,
.dt-buttons button.buttons-print:hover
{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}


